@model IEnumerable<FoodPicker.Models.Food>

@{
    ViewBag.Title = "Index";
}

<h2>Foods</h2>
<hr />
<div class="row">
@foreach (var item in Model)
{
    
    <div class="col-sm-6 col-md-3 center-block">
        <div class="thumbnail">
            <a href="@Url.Action("Details","Food", new { id = item.FoodID})">
                <img src="~/FoodImages/@item.ImageName" alt="@item.Name" />
            </a>
                    <a href="@Url.Action("Details","Food", new { id = item.FoodID})">
                        <div class="caption">
                             @item.Name

                        </div>
                    </a>
         </div>
    </div>

}
</div>