
@{
    ViewBag.Title = "No Restaurant";
}

<h2>No Restaurant</h2>
<div class="panel panel-danger">
    <div class="panel panel-heading">
        <h3>
            To add food items, you do have to
            <a href="@Html.Action("MyRestaurant","Restaurant")">create a restaurant</a>
             first!

        </h3>
    </div>
</div>

