
@{
    ViewBag.Title = "Access Denied";
}

<h2>Access Denied</h2>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3>
            You are not allowed to edit this restaurant!
        </h3>
    </div>
</div>
