@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Us</h2>
<h3>This website is designed to provide an effective method for people to find any type of food within a specific location. The foods that are available on our sites will be only those that have been made available by restaurant owners. </h3>
<div class="row">
    <h4>Created By:</h4>
    <div class="col-md-6">

        <h2>Julia Khalack</h2>
        <p>I am a Student at Oulton College taking Advanced Web Design.</p>
    </div>
    <div class="col-md-6">
        <h2>Jordan Young</h2>
        <p>I am a Student at Oulton College taking Advanced Web Design.</p>
    </div>
</div>